<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="d-flex">
    <p>
      <button (click)="onClickProcedure()">goto procedure</button>
    </p>
  </div>

  <div class="d-flex">
    <p>
      Explore
      <a target="_blank" rel="noopener noreferrer" href="fb://profile"
        >Facebook 1</a
      >
    </p>
  </div>
  <div class="d-flex">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore
      <button target="_blank" rel="noopener noreferrer" (click)="onClickFb()">
        youtube 1
      </button>
    </p>
  </div>
  <div class="d-flex">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore
      <a target="_blank" rel="noopener noreferrer" href="youtube://"
        >youtube 2</a
      >
    </p>
  </div>
  <div class="d-flex">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore
      <button target="_blank" rel="noopener noreferrer" (click)="onClickFb1()">
        youtube 3
      </button>
    </p>
  </div>
</ion-content>
